-- MySQL dump 10.13  Distrib 8.4.8, for Win64 (x86_64)
--
-- Host: localhost    Database: project
-- ------------------------------------------------------
-- Server version	8.4.8

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `availability_slots`
--

DROP TABLE IF EXISTS `availability_slots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `availability_slots` (
  `Slot_ID` int NOT NULL AUTO_INCREMENT,
  `Mentor_ID` int NOT NULL,
  `Slot_Date` date NOT NULL,
  `Start_Time` time NOT NULL,
  `End_Time` time NOT NULL,
  `Is_Booked` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`Slot_ID`),
  KEY `FK_Slot_Mentor` (`Mentor_ID`),
  CONSTRAINT `FK_Slot_Mentor` FOREIGN KEY (`Mentor_ID`) REFERENCES `mentor_profiles` (`Mentor_ID`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `CHK_Is_Booked` CHECK ((`Is_Booked` in (0,1))),
  CONSTRAINT `CHK_Time_Logic` CHECK ((`End_Time` > `Start_Time`))
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `bookings`
--

DROP TABLE IF EXISTS `bookings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bookings` (
  `Booking_ID` int NOT NULL AUTO_INCREMENT,
  `Mentee_ID` int NOT NULL,
  `Slot_ID` int NOT NULL,
  `Booking_Timestamp` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `Status` enum('pending','confirmed','cancelled') NOT NULL DEFAULT 'pending',
  `Meeting_Link` varchar(255) DEFAULT NULL,
  `Rating` int DEFAULT NULL,
  `Review_Comment` text,
  PRIMARY KEY (`Booking_ID`),
  UNIQUE KEY `UQ_Slot_Booking` (`Slot_ID`),
  KEY `FK_Booking_Mentee` (`Mentee_ID`),
  CONSTRAINT `FK_Booking_Mentee` FOREIGN KEY (`Mentee_ID`) REFERENCES `users` (`User_ID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `FK_Booking_Slot` FOREIGN KEY (`Slot_ID`) REFERENCES `availability_slots` (`Slot_ID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `bookings_chk_1` CHECK ((`Rating` between 1 and 5))
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `mentor_points`
--

DROP TABLE IF EXISTS `mentor_points`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mentor_points` (
  `Points_ID` int NOT NULL AUTO_INCREMENT,
  `Mentor_ID` int NOT NULL,
  `Total_Points` int NOT NULL DEFAULT '0',
  `Current_Streak` int NOT NULL DEFAULT '0',
  `Last_Session_Date` date DEFAULT NULL,
  `Last_Updated` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`Points_ID`),
  UNIQUE KEY `UQ_Mentor_Points` (`Mentor_ID`),
  CONSTRAINT `FK_Points_Mentor` FOREIGN KEY (`Mentor_ID`) REFERENCES `mentor_profiles` (`Mentor_ID`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `CHK_Points` CHECK ((`Total_Points` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `mentor_profiles`
--

DROP TABLE IF EXISTS `mentor_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mentor_profiles` (
  `Mentor_ID` int NOT NULL AUTO_INCREMENT,
  `User_ID` int NOT NULL,
  `Uni_ID` int NOT NULL,
  `Degree_Name` varchar(150) NOT NULL,
  `Grad_Year` year NOT NULL,
  `Bio` text,
  `Meeting_Link` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`Mentor_ID`),
  UNIQUE KEY `UQ_Mentor_User` (`User_ID`),
  KEY `FK_Mentor_Uni` (`Uni_ID`),
  CONSTRAINT `FK_Mentor_Uni` FOREIGN KEY (`Uni_ID`) REFERENCES `universities` (`Uni_ID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `FK_Mentor_User` FOREIGN KEY (`User_ID`) REFERENCES `users` (`User_ID`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `CHK_Grad_Year` CHECK (((`Grad_Year` >= 1900) and (`Grad_Year` <= 2100)))
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `subscriptions`
--

DROP TABLE IF EXISTS `subscriptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subscriptions` (
  `Sub_ID` int NOT NULL AUTO_INCREMENT,
  `Mentee_ID` int NOT NULL,
  `Plan` enum('free','pro') NOT NULL DEFAULT 'free',
  `Start_Date` date NOT NULL,
  `End_Date` date DEFAULT NULL,
  `Is_Active` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`Sub_ID`),
  UNIQUE KEY `UQ_Mentee_Sub` (`Mentee_ID`),
  CONSTRAINT `FK_Sub_Mentee` FOREIGN KEY (`Mentee_ID`) REFERENCES `users` (`User_ID`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `CHK_Sub_Active` CHECK ((`Is_Active` in (0,1)))
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `universities`
--

DROP TABLE IF EXISTS `universities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `universities` (
  `Uni_ID` int NOT NULL AUTO_INCREMENT,
  `Uni_Name` varchar(150) NOT NULL,
  `City` varchar(100) NOT NULL,
  `Country` varchar(60) NOT NULL,
  PRIMARY KEY (`Uni_ID`),
  UNIQUE KEY `UQ_University` (`Uni_Name`,`City`,`Country`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `User_ID` int NOT NULL AUTO_INCREMENT,
  `Fname` varchar(50) NOT NULL,
  `Lname` varchar(50) NOT NULL,
  `Email` varchar(100) NOT NULL,
  `Role` enum('mentor','mentee') NOT NULL,
  `Country` varchar(50) NOT NULL,
  PRIMARY KEY (`User_ID`),
  UNIQUE KEY `UQ_Email` (`Email`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Temporary view structure for view `view_active_bookings`
--

DROP TABLE IF EXISTS `view_active_bookings`;
/*!50001 DROP VIEW IF EXISTS `view_active_bookings`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `view_active_bookings` AS SELECT 
 1 AS `Booking_ID`,
 1 AS `Mentee_Name`,
 1 AS `Mentor_Name`,
 1 AS `University`,
 1 AS `Session_Date`,
 1 AS `Start_Time`,
 1 AS `End_Time`,
 1 AS `Status`,
 1 AS `Meeting_Link`*/;
SET character_set_client = @saved_cs_client;

--
-- Dumping routines for database 'project'
--
/*!50003 DROP PROCEDURE IF EXISTS `book_session` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `book_session`(
    IN  p_mentee_id INT,
    IN  p_slot_id   INT,
    OUT p_result    VARCHAR(100)
)
book_session: BEGIN
    DECLARE v_is_booked     TINYINT(1)  DEFAULT 0;
    DECLARE v_role          VARCHAR(10) DEFAULT 'none';
    DECLARE v_plan          VARCHAR(10) DEFAULT 'free';
    DECLARE v_booking_count INT         DEFAULT 0;

    -- Exception Handler (The Safety Net)
    DECLARE EXIT HANDLER FOR SQLEXCEPTION
    BEGIN
        ROLLBACK;
        SET p_result = 'Something went wrong. Booking cancelled.';
    END;

    START TRANSACTION;

    -- Role check
    SELECT Role INTO v_role
    FROM   Users WHERE User_ID = p_mentee_id;

    IF v_role != 'mentee' THEN
        ROLLBACK;
        SET p_result = 'Only mentees can book sessions.';
    ELSE
        -- Subscription check
        SELECT COALESCE(Plan, 'free') INTO v_plan
        FROM   Subscriptions
        WHERE  Mentee_ID = p_mentee_id AND Is_Active = 1
        LIMIT 1;

        IF v_plan = 'free' THEN
            SELECT COUNT(*) INTO v_booking_count
            FROM   Bookings
            WHERE  Mentee_ID = p_mentee_id AND Status <> 'cancelled';

            IF v_booking_count >= 3 THEN
                ROLLBACK;
                SET p_result = 'Free plan limit reached. Upgrade to Pro.';
                LEAVE book_session;
            END IF;
        END IF;

        -- Lock and check slot
        SELECT Is_Booked INTO v_is_booked
        FROM   Availability_Slots
        WHERE  Slot_ID = p_slot_id
        FOR UPDATE;

        IF v_is_booked = 1 THEN
            ROLLBACK;
            SET p_result = 'Sorry, this slot is already taken.';
        ELSE
            -- 1. Insert the booking record
            INSERT INTO Bookings (Mentee_ID, Slot_ID, Status)
            VALUES (p_mentee_id, p_slot_id, 'pending');

            -- 2. Mark the slot as booked (THIS IS THE FIX!)
            UPDATE Availability_Slots
            SET    Is_Booked = 1
            WHERE  Slot_ID   = p_slot_id;

            COMMIT;
            SET p_result = 'Booking confirmed successfully!';
        END IF;
    END IF;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `confirm_and_award_points` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `confirm_and_award_points`(
    IN  p_booking_id INT,
    OUT p_result     VARCHAR(255)
)
BEGIN
    DECLARE v_mentor_id INT;
    DECLARE v_last_date DATE;
    DECLARE v_current_streak INT DEFAULT 0;
    DECLARE v_exists INT DEFAULT 0;

    -- NEW: If it crashes, grab the exact MySQL error and send it to the frontend!
    DECLARE EXIT HANDLER FOR SQLEXCEPTION
    BEGIN
        DECLARE err_msg VARCHAR(255);
        GET DIAGNOSTICS CONDITION 1 err_msg = MESSAGE_TEXT;
        ROLLBACK;
        SET p_result = CONCAT('DB Error: ', err_msg);
    END;

    START TRANSACTION;

    -- 1. Find the Mentor for this booking
    SELECT mp.Mentor_ID INTO v_mentor_id
    FROM   Bookings b
    JOIN   Availability_Slots s  ON s.Slot_ID    = b.Slot_ID
    JOIN   Mentor_Profiles    mp ON mp.Mentor_ID = s.Mentor_ID
    WHERE  b.Booking_ID = p_booking_id
      AND  b.Status     = 'pending'
    LIMIT 1 FOR UPDATE;

    IF v_mentor_id IS NULL THEN
        ROLLBACK;
        SET p_result = 'Booking not found or already confirmed.';
    ELSE
        -- 2. Confirm the booking
        UPDATE Bookings SET Status = 'confirmed' WHERE Booking_ID = p_booking_id;

        -- 3. Bulletproof check: Does this mentor have points yet?
        SELECT COUNT(*) INTO v_exists FROM Mentor_Points WHERE Mentor_ID = v_mentor_id;

        IF v_exists = 0 THEN
            -- First session ever! Just insert a clean new row.
            INSERT INTO Mentor_Points (Mentor_ID, Total_Points, Current_Streak, Last_Session_Date)
            VALUES (v_mentor_id, 1, 1, CURDATE());
        ELSE
            -- They have points. Grab their history.
            SELECT Current_Streak, Last_Session_Date INTO v_current_streak, v_last_date
            FROM Mentor_Points WHERE Mentor_ID = v_mentor_id LIMIT 1;

            -- Streak Math
            IF v_last_date IS NULL THEN
                SET v_current_streak = 1; 
            ELSEIF DATEDIFF(CURDATE(), v_last_date) <= 7 THEN
                SET v_current_streak = v_current_streak + 1; 
            ELSE
                SET v_current_streak = 1; 
            END IF;

            -- Update their existing row safely
            UPDATE Mentor_Points
            SET Total_Points = Total_Points + 1,
                Current_Streak = v_current_streak,
                Last_Session_Date = CURDATE()
            WHERE Mentor_ID = v_mentor_id;
        END IF;

        COMMIT;
        SET p_result = 'Session confirmed. Points and Streak updated!';
    END IF;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Final view structure for view `view_active_bookings`
--

/*!50001 DROP VIEW IF EXISTS `view_active_bookings`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_active_bookings` AS select `b`.`Booking_ID` AS `Booking_ID`,concat(`u1`.`Fname`,' ',`u1`.`Lname`) AS `Mentee_Name`,concat(`u2`.`Fname`,' ',`u2`.`Lname`) AS `Mentor_Name`,`un`.`Uni_Name` AS `University`,`s`.`Slot_Date` AS `Session_Date`,`s`.`Start_Time` AS `Start_Time`,`s`.`End_Time` AS `End_Time`,`b`.`Status` AS `Status`,`b`.`Meeting_Link` AS `Meeting_Link` from (((((`bookings` `b` join `users` `u1` on((`b`.`Mentee_ID` = `u1`.`User_ID`))) join `availability_slots` `s` on((`b`.`Slot_ID` = `s`.`Slot_ID`))) join `mentor_profiles` `mp` on((`s`.`Mentor_ID` = `mp`.`Mentor_ID`))) join `users` `u2` on((`mp`.`User_ID` = `u2`.`User_ID`))) join `universities` `un` on((`mp`.`Uni_ID` = `un`.`Uni_ID`))) where (`b`.`Status` in ('confirmed','pending')) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-19 21:36:58
